apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
type: Opaque
stringData:
  host: "mysql-service.finstream-prod.svc.cluster.local"
  username: "root"
  password: "lun@2404"  # Use sealed secrets or external secrets operator
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
type: Opaque
stringData:
  password: "CHANGE_ME"