apiVersion: v1
kind: ConfigMap
metadata:
  name: transaction-ingestion-config
data:
  application.yml: |
    spring:
      application:
        name: transaction-ingestion-service
      kafka:
        bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
        producer:
          acks: all
          retries: 3
      data:
        redis:
          host: ${REDIS_HOST}
          port: ${REDIS_PORT}
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
      metrics:
        export:
          prometheus:
            enabled: true
    
    logging:
      level:
        com.finstream: INFO
        org.springframework.kafka: WARN